body {
  background-color: whitesmoke;
  background-image: url("https://cdn.europosters.eu/image/750/wall-murals/harry-potter-charming-vintage-i114444.jpg");
}

#appContainer {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Irish Grover", cursive;
}

button {
  padding: 10px;
  margin: 20px;
  color: black;
}

h1 {
  font-size: 42px;
}

#containerOne {
  flex-basis: 100%;
  height: 420px;
  width: 500px;
  margin: auto;
  border-style: solid;
  border-color: black;
  padding: 20px;
  margin: 20px;
  background: rgba(4, 87, 25, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#buttonContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-grow: 5;
}

#containerTwo {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-basis: 49%;
  height: fit-content;
  width: fit-content;
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;
  background: rgba(4, 87, 25, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#containerThree {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 49%;
  height: fit-content;
  width: fit-content;
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;
  background: rgba(4, 87, 25, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

div.card {
  flex-direction: row;
  justify-content: center;
  font-family: "Irish Grover", cursive;
  font-size: 20px;
}

.card img {
  width: 30%;
  height: fit-content;
  width: fit-content;
}

div#containerTwo.container {
  display: flex;
  justify-content: space-around;
}

div.card-body {
  background-image: url("https://i.etsystatic.com/23853922/r/il/509ee1/2375143714/il_570xN.2375143714_fq3u.jpg");
  image-orientation: 400turn;
  color: black;
  font-size: 24px;
}

img#flag-image.card-img-top {
  height: 100px;
  width: 100px;
}
